/* Box Model Hack */

* {
  -moz-box-sizing: border-box;
  /* Firexfox */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome/iOS/Android */
  box-sizing: border-box;
  /* IE */
  /*margin: 0;
  padding: 0;*/
}

/* Clear fix hack */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
.alignright {
  float: right;
  padding: 0 0 10px 10px;
  /* note the padding around a right floated image */
}
.alignleft {
  float: left;
  padding: 0 10px 10px 0;
  /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #333333;
  font-size: 0.625em;
  line-height: 1.4;
  font-family: Roboto;
  background-color: #ffffff;
}

/******************************************
/* LAYOUT
/*******************************************/


/* Center the container */

#container {
  width: 100%;
  margin: 0 auto;
}
#hero {
  width: 100%;
  height: 600px;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/hero.jpeg) no-repeat center top rgb(134, 141, 157);
  background-size: cover;
}
nav ul li, .donutrecipe a {
  font-size: 2em;
  font-weight: 100;
  color: #ffffff;
  padding: 50px;
  flex-direction: row;
  text-decoration: none;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav ul {
  display: flex;
}
.subpages nav ul li a, .donutrecipe a, .profiletext a {
  color: #333333;
}
.subpages nav {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#logo a {
  font-size: 3em;
  color: #333333;
  text-decoration: none;
}
#logo {
  padding: 40px;
}
.herotext {
  font-weight: 100;
  color: #ffffff;
  text-align: center;
  padding: 100px;
}
header, .herotext a {
  font-size: 4.8em;
  text-decoration: none;
  color: #ffffff;
}
h1 {
  font-size: 2.8em;
  padding: 30px;
  text-align: center;
}
h2 {
  font-size: 2.2em;
  font-weight: 100;
}
#featuredarticles {
  display: flex;
  width: 100%;
  justify-content: center;
}
#featuredarticles article {
  padding: 30px 0 30px 0;
  text-align: center;
}
#featuredarticles img {
  /*flex-direction: row;*/
  width: 90%;
}

.recipe1{
  background: url(../img/cookies.jpg);
}

.recipe2{
background: url(../img/greentea.jpg);
}

.recipe3{
background: url(../img/fruitypebbles.jpg);
}

.featuredrecipe{
  width: 300px;
  height:300px;
  background-size:contain;
  margin:20px;
}

.featuredrecipe p{
  visibility: hidden;
}

.featuredrecipe:hover p{
  visibility: visible;
  opacity: 1;
  color: white;
  font-size: 2.6em;
}

.cta {
  display: flex;
}
#articles .cta a {
  justify-content: center;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.8em;
  padding: 10px 60px 10px 60px;
  border: solid 1px #333333;
  margin: auto;
}
.profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile h2 {
  font-weight: 300;
  margin-bottom: 20px;
  border-bottom: 1px solid #333333;
}
.profilepic {
  width: 40%;
}
.profile img {
  width: 30%;
  height: 30%;
  margin-bottom: 40px;
  padding: 10px;
  border: solid 1px #333333;
}
.profiletext {
  width: 25%;
  padding: 30px;
}
.profiletext p, .profiletext a {
  font-size: 1.4em;
  text-decoration: none;
  margin-bottom: 10px;
  font-weight: 300;
}
.recipehero {
  width: 100%;
  margin: auto;
  height: 200px;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/donuthero.jpg) no-repeat center top rgb(134, 141, 157);
  background-size: cover;
}
.contacthero {
  width: 100%;
  margin: auto;
  height: 200px;
  background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/contacthero.jpg) no-repeat center top rgb(134, 141, 157);
  background-size: cover;
}
.donutrecipe {
  margin-bottom: 40px;
}
.donutrecipe p {
  margin: auto;
  width: 60%;
  text-align: center;
  font-size: 1.4em;
  padding: 10px;
}
.recipeimage {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.recipecore {
  display: flex;
  justify-content: center;
}
.ingredients, .method {
  display: inline-block;
  border: solid 1px #333333;
  width: 35%;
  margin: 40px;
  padding: 30px 30px 30px 50px;
  font-size: 1.4em;
}
h3 {
  font-size: 1.8em;
  font-weight: 200;
  padding: 10px;
}
.donutrecipe li {
  padding: 5px;
}
.recipecore .ingredients ul {
  list-style: disc;
}
.recipecore .method ol {
  list-style: decimal;
}
.donutrecipe img {
  width: 70%;
  height: 70%;
}
.contactform {
  margin: 30px;
}
.form {
  margin: auto;
  border: 1px solid #333333;
  padding: 40px;
  width: 50%;
}
.FormInput label, h4 {
  font-weight: 100;
  font-size: 2.4em;
}
.FormInput {
  padding: 10px 0 10px 0;
}
input, textarea {
  width: 100%;
  display: block;
  border: 1px solid #999;
  height: 40px;
  resize: none;
  overflow: auto;
  padding: 10px;
}
textarea {
  height: 100px;
}
input[placeholder], textarea[placeholder] {
  font-family: inherit;
  font-size: 1.2em;
  font-weight: 100;
}
#checkbox {
  width: 10px;
  height: 12px;
  margin: 10px;
  display: inline-block;
}
fieldset button {
  width: 60%;
  font-size: 1.8em;
  padding: 10px;
}
#instagramfeed {
  margin: auto;
  width: 92%;
  padding-bottom: 20px;
}
footer {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.blurb {
  padding: 40px;
  width: 35%;
  font-size: 1.2em;
  margin: 10px;
}
.socialmedia a {
  padding: 3px;
  text-decoration: none;
  color: #333333;
  font-size: 1.8em;
}
.copyright span {
  font-size: 0.8em;
}
.subscribe {
  padding: 50px;
}
.subscribe p {
  padding: 15px 0 10px 0;
  font-size: 1.2em;
}
label {
  font-weight: 100;
  font-size: 1.5em;
}
.subscribe #emailaddress {
  display: inline-block;
  margin: 4px 5px 4px 0;
  width: 50%;
  height: 22px;
  appearance: none;
  box-shadow: none;
  border: solid 1px #969696;
}
button {
  background: #ffffff;
  font-size: 1.3em;
  font-weight: 100;
  border: solid 1px #969696;
}
